@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100;300;400;500&display=swap');

/*font-family: 'Gowun Dodum', sans-serif;
font-family: 'Noto Sans KR', sans-serif;*/

/* ========== common ========== */
body {
    width: 100%;
    background: linear-gradient(92deg, rgb(2 43 121) 0%, rgb(0 7 62) 80%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}


/* ========== coin_price ========== */
.coin_price {
    background: lightgray;
    height: 10vh;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    width: 62%;
}

.coin_graph {
    /*background: #f2f4f7;*/
    height: 60vh;
    width: 62%;
    float: left;
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
}

.coin_masu {
    background: #dedede;
    height: 30vh;
    width: 62%;
    float: left;
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
}

.coin_list {
    position: absolute;
    background: #f2f4f7;
    right: 2%;
    height: 108vh;
    width: 30%;
    float: left;
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
}