<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ABCbit</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style1.css' %}">
</head>

<body>
<div class="signup-page">
    <a href="/"><img style="width: 15%" src="{% static 'users/images/ABC logo-04.png' %}"/></a>
    <div class="wrapper signup-page" style="text-align: center;">
        <form class="signup-form" method="POST">
            <h1 class="signup-text">회원 가입</h1>
            {% csrf_token %}
            <input placeholder="아이디" name="userid" type="text">
            <input placeholder="비밀번호" name="password1" type="password">
            <input placeholder="비밀번호 확인" name="password2" type="password">
            <input placeholder="이름" name="username" type="text">
            <input placeholder="이메일" name="email" type="email">
            <input placeholder="성별" name="sex" type="text">
            <input placeholder="주소" name="addr" type="text">
            <input placeholder="upbit access key" name="access_key" type="text">
            <input placeholder="upbit secret key" name="secret_key" type="text">
            <input style="background: rgb(2 43 121)" type="submit" class="btn btn-primary" value="Sign Up">
        </form>
    </div>
</div>
</body>
</html>