@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100;300;400;500&display=swap');
/*font-family: 'Gowun Dodum', sans-serif;
font-family: 'Noto Sans KR', sans-serif;*/

.main_title {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
    margin-top: -20px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}

