@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100;300;400;500&display=swap');

/*font-family: 'Gowun Dodum', sans-serif;
font-family: 'Noto Sans KR', sans-serif;*/


/*=============== media query ===============*/
.main_title {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
    margin-top: -20px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}


#section0 > #scroll {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

#scroll {
    position: absolute;
    z-index: 10;
    top: 90%;
    left: 48%;
}

#scroll a {
    padding-top: 60px;
}

#scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}


#scroll a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#scroll a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 2s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#scroll a {
    position: absolute;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .5;
}

.main_user {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 20px;
    letter-spacing: .1em;
    margin-bottom: 35px;
    text-decoration: none;
    transition: opacity .3s;
}

.main_btn_box {
    position: absolute;
    top: 115%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.main_btn {
    background-color: rgba(0, 0, 25, 0.5);
    color: #fff;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    width: 125px;
    font-size: 18px;
    display: inline-block;
    margin: 10px;
}

.main_btn:hover {
    background-color: #ff4141;
    border: 3px solid #ffffff;
    color: #fff;
    transition: 0.2s;
}

.main2_btn {
    background-color: rgba(0, 0, 25, 0.5);
    color: #fff;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 9px;
    width: 125px;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
    margin: 10px;
}

.main2_btn:hover {
    background-color: #002ac1;
    border: 3px solid #ffffff;
    color: #ffffff;
    transition: 0.2s;
}


/*=============== section 1 ===============*/
.s1_title {
    position: absolute;
    text-align: left;
    left: 7%;
    top: 38%;
}

.s1_title_main {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 70px;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.s1_title_sub {
    font-family: 'Noto Sans KR', sans-serif;
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 10px;
}

.s1_btn {
    background-color: rgba(0, 0, 25, 0.5);
    color: #fff;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    width: 175px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    margin-top: 40px;
    position: absolute;
    left: 0%;
    font-family: 'Noto Sans KR', sans-serif;
}

.s1_btn:hover {
    background-color: rgba(0, 21, 79, 0.7);
    border: 3px solid rgba(255, 255, 255, 0.7);
    color: #fff;
    transition: 0.2s;
}


@keyframes motion {
    0% {
        margin-top: 0px;
    }
    20% {
        margin-top: 15px;
    }
    40% {
        margin-top: 0px;
    }
    60% {
        margin-top: 15px;
    }
    80% {
        margin-top: 0px;
    }
    100% {
        margin-top: 0px;
    }
}

.s1_img_wrap {
    position: absolute;
    text-align: center;
    margin-top: 20px;
    top: 27%;
    right: 5%;
    width: 50%;
}

.s1_img {
    animation: motion 1.3s ease 0s infinite;
    margin-top: 0;
    width: 85%;
}


/*@keyframes s1_deco {*/
/*    from {*/
/*        transform: translate(0px, 300px);*/
/*        opacity: 0%;*/
/*        right: 10%;*/
/*        position: relative;*/
/*    }*/
/*    to {*/
/*        transform: translate(0px, 0px);*/
/*        opacity: 100%;*/
/*        right: 10%;*/
/*        position: relative;*/
/*    }*/
/*}*/
/*.s1_img_wrap {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: right;*/
/*    animation: s1_deco 1.5s ease-out forwards;*/
/*    overflow: hidden;*/
/*}*/
/*=============== section 2 ===============*/
.s2_title {
    position: absolute;
    text-align: right;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 36px;
    top: 41%;
    right: 8%;
    z-index: 4;
    color: #fff;
}

.s2_btn {
    position: absolute;
    z-index: 55;
    top: 57%;
    right: 8%;
    width: 220px;
    height: 58px;
    background-color: rgba(131, 0, 0, 0.8);
    color: #fff;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 9px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

.s2_btn:hover {
    color: #fff;
    background-color: rgba(208, 0, 0, 0.7);
    border: 3px solid rgba(255, 255, 255, 0.8);
    transition: 0.2s;
}

@media screen and (max-width: 850px) {
    .title_image {
        width: 42% !important;
    }

    .main_user {
        font-family: 'Noto Sans KR', sans-serif;
        color: #fff;
        font-size: 20px;
        letter-spacing: .1em;
        margin-bottom: 35px;
        text-decoration: none;
        transition: opacity .3s;
    }

    .s1_img {
        display: none;
    }

    .s2_title {
        position: absolute;
        text-align: right;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 36px;
        top: 42%;
        right: 8%;
        z-index: 4;
        color: #fff;
    }

    .s2_btn {
        position: absolute;
        z-index: 55;
        top: 53%;
        right: 8%;
        width: 220px;
        height: 58px;
        background-color: rgba(131, 0, 0, 0.8);
        color: #fff;
        border: 3px solid rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 9px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
    }
}

@media all and (max-width: 480px) {
    .main_title {
        font-size: 24px;
        color: white;
        margin-bottom: 20px;
        margin-top: -20px;
        font-weight: 400;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .main_user {
        font-family: 'Noto Sans KR', sans-serif;
        color: #fff;
        font-size: 15px;
        letter-spacing: .1em;
        margin-bottom: 35px;
        text-decoration: none;
        transition: opacity .3s;
    }

    .title_image {
        width: 50% !important;
    }

    #scroll {
        display: none;
    }

    .s1_img {
        display: none;
    }

    .s1_title_sub {
        font-family: 'Noto Sans KR', sans-serif;
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .s1_title_main {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 40px;
        color: #fff;
        margin: 0;
        padding: 0;
        font-weight: 500;
    }

    .s2_title {
        position: absolute;
        text-align: left;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        top: 40%;
        left: 6%;
        z-index: 4;
        color: #fff;
    }

    .s2_btn {
        position: absolute;
        z-index: 55;
        top: 52%;
        left: 5%;
        width: 175px;
        height: 43px;
        background-color: rgba(131, 0, 0, 0.8);
        color: #fff;
        border: 2px solid rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 0px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 17px;
    }
}